@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/*------------------- 
    Common styles 
---------------------*/

body {
    font-family: 'Roboto', sans-serif;
}
.button {
    text-decoration: none;
    background-color: rgba(230, 47, 114, 0.877);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}
.button-text {
    margin-right: 10px;
    font-weight: 500;
}

/*------------------------- 
    Header-section styles
---------------------------*/
.header-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* Header-section common styles */
.top-container, .top-banner-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    margin-bottom: 30px;
}
.menu-bar>ul {
    display: flex;
    align-items: center;
}
.menu-options {
    height: 35px;
}
.menu-options li {
    list-style: none;
    margin: 0 20px;
    font-weight: 500;
}
.menu-options a {
    text-decoration: none;
    color: black;
}
.top-banner-info h1 {
    font-size: 2.5em;
}
.top-banner-info p {
    font-weight: 500;
}
.top-banner-image {
    margin-left: 30px;
    background-image: url("../media/images/Circle design.svg");
    background-repeat: no-repeat;
}

.ecommerce-section {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: flex-end;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    border-top: groove rgb(221, 208, 208);
    border-bottom: groove rgb(221, 208, 208);
}
.brand-logo {
    margin: 0px 20px;
}

/*----------------------------- 
    Main section Styles 
------------------------------*/
.products-section-title {
    text-align: center;
    margin-bottom: 40px;
}
main {
    max-width: 1100px;
    margin: 90px auto;
}
.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.product {
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product-image, .product-info {
    margin-left: 15px;
}
.price-tag {
    font-weight: 400;
    font-size: 1.5em;
}
.product-rating {
    color: #FFC014;
}
.product-info .rating-number, p {
    color: #787885;
}
.see-more {
    margin-top: 40px;
    font-weight: 600;
    font-size: 0.9em;
    text-align: end;
}
.see-more a {
    text-decoration: none;
    color: #E02C6D;
}
.right-arrow {
    margin-left: 5px;
}